# Proyecto
Se omiten ciertas características no relevantes

# Carga

In [64]:
import pandas as pd
import numpy as np

icfesDatos = pd.read_csv('saber_11_2018.csv')

nuevo =icfesDatos[['ESTU_GENERO','ESTU_DEPTO_RESIDE','FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET','FAMI_TIENECOMPUTADOR','FAMI_SITUACIONECONOMICA','ESTU_DEDICACIONLECTURADIARIA','ESTU_DEDICACIONINTERNET','PUNT_LECTURA_CRITICA', 'PUNT_MATEMATICAS','PUNT_C_NATURALES', 'PUNT_SOCIALES_CIUDADANAS','PUNT_INGLES', 'PUNT_GLOBAL' ]]
del icfesDatos

# Limpieza

eureka

In [66]:
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='AMAZONAS', 'ESTU_DEPTO_RESIDE']=1
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='ANTIOQUIA', 'ESTU_DEPTO_RESIDE']=2
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='ARAUCA', 'ESTU_DEPTO_RESIDE']=3
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='ATLANTICO', 'ESTU_DEPTO_RESIDE']=4
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='BOLIVAR', 'ESTU_DEPTO_RESIDE']=5
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='BOYACA', 'ESTU_DEPTO_RESIDE']=6
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CALDAS', 'ESTU_DEPTO_RESIDE']=7
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CAQUETA', 'ESTU_DEPTO_RESIDE']=8
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CASANARE', 'ESTU_DEPTO_RESIDE']=9
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CAUCA', 'ESTU_DEPTO_RESIDE']=10
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CESAR', 'ESTU_DEPTO_RESIDE']=11
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CHOCO', 'ESTU_DEPTO_RESIDE']=12
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CORDOBA', 'ESTU_DEPTO_RESIDE']=13
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='CUNDINAMARCA', 'ESTU_DEPTO_RESIDE']=14
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='BOGOTA', 'ESTU_DEPTO_RESIDE']=15
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='GUAINIA', 'ESTU_DEPTO_RESIDE']=16
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='GUAVIARE', 'ESTU_DEPTO_RESIDE']=17
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='HUILA', 'ESTU_DEPTO_RESIDE']=18
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='LA GUAJIRA', 'ESTU_DEPTO_RESIDE']=19
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='MAGDALENA', 'ESTU_DEPTO_RESIDE']=20
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='META', 'ESTU_DEPTO_RESIDE']=21
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='NARIÑO', 'ESTU_DEPTO_RESIDE']=22
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='NORTE SANTANDER', 'ESTU_DEPTO_RESIDE']=23
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='PUTUMAYO', 'ESTU_DEPTO_RESIDE']=24
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='QUINDIO', 'ESTU_DEPTO_RESIDE']=25
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='RISARALDA', 'ESTU_DEPTO_RESIDE']=26
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='SAN ANDRES', 'ESTU_DEPTO_RESIDE']=27
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='SANTANDER', 'ESTU_DEPTO_RESIDE']=28
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='SUCRE', 'ESTU_DEPTO_RESIDE']=29
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='TOLIMA', 'ESTU_DEPTO_RESIDE']=30
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='VALLE', 'ESTU_DEPTO_RESIDE']=31
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='VAUPES', 'ESTU_DEPTO_RESIDE']=32
nuevo.loc[nuevo['ESTU_DEPTO_RESIDE']=='VICHADA', 'ESTU_DEPTO_RESIDE']=33


#------------------ Genero -------
nuevo.loc[nuevo['ESTU_GENERO']=='F', 'ESTU_GENERO']=0
nuevo.loc[nuevo['ESTU_GENERO']=='M', 'ESTU_GENERO']=1
# ------------------Estrato ------
nuevo.loc[nuevo['FAMI_ESTRATOVIVIENDA']=='Sin Estrato', 'FAMI_ESTRATOVIVIENDA']=0
nuevo.loc[nuevo['FAMI_ESTRATOVIVIENDA']=='Estrato 1', 'FAMI_ESTRATOVIVIENDA']=1
nuevo.loc[nuevo['FAMI_ESTRATOVIVIENDA']=='Estrato 2', 'FAMI_ESTRATOVIVIENDA']=2
nuevo.loc[nuevo['FAMI_ESTRATOVIVIENDA']=='Estrato 3', 'FAMI_ESTRATOVIVIENDA']=3
nuevo.loc[nuevo['FAMI_ESTRATOVIVIENDA']=='Estrato 4', 'FAMI_ESTRATOVIVIENDA']=4
nuevo.loc[nuevo['FAMI_ESTRATOVIVIENDA']=='Estrato 5', 'FAMI_ESTRATOVIVIENDA']=5
nuevo.loc[nuevo['FAMI_ESTRATOVIVIENDA']=='Estrato 6', 'FAMI_ESTRATOVIVIENDA']=6

#------------------Familia Internet
nuevo.loc[nuevo['FAMI_TIENEINTERNET']=='Si','FAMI_TIENEINTERNET']=1
nuevo.loc[nuevo['FAMI_TIENEINTERNET']=='No','FAMI_TIENEINTERNET']=0

# ---------------- Familia Computador
nuevo.loc[nuevo['FAMI_TIENECOMPUTADOR']=='Si','FAMI_TIENECOMPUTADOR']=1
nuevo.loc[nuevo['FAMI_TIENECOMPUTADOR']=='No','FAMI_TIENECOMPUTADOR']=0

#----------------- Familia Situación Economica
# Peor = 0 ; Igual = 1; Mejor = 2
nuevo.loc[nuevo['FAMI_SITUACIONECONOMICA']=='Peor','FAMI_SITUACIONECONOMICA']=0
nuevo.loc[nuevo['FAMI_SITUACIONECONOMICA']=='Igual','FAMI_SITUACIONECONOMICA']=1
nuevo.loc[nuevo['FAMI_SITUACIONECONOMICA']=='Mejor','FAMI_SITUACIONECONOMICA']=2

# ---------------- Estudio Lectura Diaria
# Promedio entre los rangos extremos. Se asume que menos de 30 min son 15 
nuevo.loc[nuevo['ESTU_DEDICACIONLECTURADIARIA']=='30 minutos o menos','ESTU_DEDICACIONLECTURADIARIA'] = 15
nuevo.loc[nuevo['ESTU_DEDICACIONLECTURADIARIA']=='Entre 30 y 60 minutos','ESTU_DEDICACIONLECTURADIARIA'] = 45
nuevo.loc[nuevo['ESTU_DEDICACIONLECTURADIARIA']=='Entre 1 y 2 horas','ESTU_DEDICACIONLECTURADIARIA'] = 90
nuevo.loc[nuevo['ESTU_DEDICACIONLECTURADIARIA']=='Más de 2 horas','ESTU_DEDICACIONLECTURADIARIA'] = 120
nuevo.loc[nuevo['ESTU_DEDICACIONLECTURADIARIA']=='No leo por entretenimiento','ESTU_DEDICACIONLECTURADIARIA'] = 0

#----------------- Estudio Dedicacion Internet
# No navega = 0; Promedio entre rangos extremos

nuevo.loc[nuevo['ESTU_DEDICACIONINTERNET']=='No Navega Internet', 'ESTU_DEDICACIONINTERNET']=0
nuevo.loc[nuevo['ESTU_DEDICACIONINTERNET']=='30 minutos o menos', 'ESTU_DEDICACIONINTERNET']=15
nuevo.loc[nuevo['ESTU_DEDICACIONINTERNET']=='Entre 30 y 60 minutos', 'ESTU_DEDICACIONINTERNET']=45
nuevo.loc[nuevo['ESTU_DEDICACIONINTERNET']=='Entre 1 y 3 horas', 'ESTU_DEDICACIONINTERNET']=120
nuevo.loc[nuevo['ESTU_DEDICACIONINTERNET']=='Más de 3 horas', 'ESTU_DEDICACIONINTERNET']=180

In [67]:
nuevo = nuevo[nuevo.FAMI_ESTRATOVIVIENDA !='-']
nuevo = nuevo[nuevo.FAMI_TIENEINTERNET !='-']
nuevo = nuevo[nuevo.FAMI_SITUACIONECONOMICA !='-']
nuevo = nuevo[nuevo.FAMI_TIENECOMPUTADOR !='-']
nuevo = nuevo[nuevo.ESTU_DEDICACIONLECTURADIARIA !='-']
nuevo = nuevo[nuevo.ESTU_DEDICACIONINTERNET !='-']
nuevo = nuevo[nuevo.ESTU_DEPTO_RESIDE !='EXTRANJERO']

In [68]:
nuevo = nuevo.reset_index(drop=True)

# Selección de las características y las etiquetas

In [79]:
x = nuevo[['ESTU_GENERO','ESTU_DEPTO_RESIDE','FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET','FAMI_TIENECOMPUTADOR','FAMI_SITUACIONECONOMICA','ESTU_DEDICACIONLECTURADIARIA','ESTU_DEDICACIONINTERNET']]
y = nuevo[['PUNT_LECTURA_CRITICA','PUNT_MATEMATICAS','PUNT_C_NATURALES','PUNT_SOCIALES_CIUDADANAS','PUNT_INGLES','PUNT_GLOBAL']]

y[:5]

,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,63,69,54,57,65.0,305
1,54,50,50,40,48.0,242
2,59,43,46,45,47.0,241
3,61,60,60,67,63.0,310
4,56,51,48,49,56.0,257

In [80]:
x[:5]

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET
0,1,4,2,1,0,1,15,180
1,1,13,1,1,0,2,45,45
2,1,31,2,0,0,2,15,45
3,1,6,3,1,1,1,15,180
4,1,15,2,1,0,1,15,120

In [71]:
social = x.values[:,2:8]
social = np.mean(social, axis=1)
social= pd.DataFrame({'FACTOR_SOCIAL':social[:]})
social.head()

  FACTOR_SOCIAL
0       33.1667
1       15.6667
2       10.6667
3          33.5
4       23.1667

In [73]:
x['FACTOR_SOCIAL'] = social
x = x[['ESTU_GENERO','ESTU_DEPTO_RESIDE', 'FACTOR_SOCIAL']]

In [76]:
numero = int(len(x)*0.4)

xEntrenamiento = x[:numero]
yEntrenamiento = y[:numero]

xPrueba = x[numero:]
yPrueba = y[numero:]

xEntrenamiento.to_csv("Datos de entrenamiento/xEntrenamiento", index=False)
yEntrenamiento.to_csv("Datos de entrenamiento/yEntrenamiento", index=False)

xPrueba.to_csv("Datos de Prueba/xPrueba", index=False)
yPrueba.to_csv("Datos de Prueba/yPrueba", index=False)

In [75]:
z = pd.read_csv("Datos de entrenamiento/xEntrenamiento")
z[:20]

    ESTU_GENERO  ESTU_DEPTO_RESIDE  FACTOR_SOCIAL
0             1                  4      33.166667
1             1                 13      15.666667
2             1                 31      10.666667
3             1                  6      33.500000
4             1                 15      23.166667
5             1                 19      10.166667
6             1                  4      20.500000
7             1                  7      10.500000
8             1                  6      10.333333
9             1                 11       3.166667
10            1                  2       2.833333
11            0                 14      33.000000
12            1                 15      10.833333
13            1                  4      40.833333
14            1                  5      38.666667
15            1                 13      46.166667
16            1                  4      23.166667
17            1                 11       7.833333
18            1                 31      10.666667
19            0                  4      27.833333